root = true

[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=2

[{*.sht,*.html,*.shtm,*.shtml,*.ng,*.htm}]
indent_style=space
indent_size=2

[{phpunit.xml.dist,*.jhm,*.xjb,*.rng,*.qrc,*.wsdl,*.fxml,*.plan,*.pom,*.xslt,*.jrxml,*.ant,*.xul,*.xsl,*.xsd,*.tld,*.jnlp,*.wsdd,*.wadl,*.xml}]
indent_style=space
indent_size=4

[*.css]
indent_style=space
indent_size=2

[*.csv]
indent_style=tab
tab_width=1

[*.js]
indent_style=space
indent_size=2

[{*.ts,*.ats}]
indent_style=space
indent_size=2

[*.jsx]
indent_style=space
indent_size=2

[{*.module,*.hphp,*.phtml,*.php5,*.php4,*.php,*.inc}]
indent_style=space
indent_size=4

[{*.cjsx,*.coffee}]
indent_style=space
indent_size=2

[*.conf]
indent_style=space
indent_size=2

[*.vue]
indent_style=space
indent_size=2

[{*.rhtml,*.erb}]
indent_style=space
indent_size=2

[{rake,rails,spec,spork,rcov,cucumber,guardfile,isolate,rakefile,vagrantfile,gemfile,Puppetfile,capfile,*.gemspec,*.thor,*.rb,*.rake,*.rbw,*.ru,*.jbuilder,*.rabl}]
indent_style=space
indent_size=2
